/*
  FileName: Google.css
  Description: Help to sytle entire google home page mockup
*/

/*Header Styles*/

*{
  font-size: calc(4px + 2vmin);
}
header{
  //background-color: #CCC;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.leftNav ul li,
.rightNav ul li{
  display: inline-block;
  padding: 10px;
  font-size: 18px;

}

.rightNav{

}
.rightNav ul {
padding-right: 40px;
}

.roundedAvatar{
  width: 40px;
  border-radius: 20px;
  height: 40px;
  vertical-align: middle;
  border: 1px solid #ececec;
}

/*Container Styles*/
.container{
  min-height: 50vh;
  display:flex;
  flex-direction: column;
  justify-content: center;
}

.buttonContainer{
  display:flex;
  flex-direction: row;
  justify-content: center;
}

.inputField{
  border: 1px solid #EEE;
  border-radius: 50px;
  width:30%;
  height: 50px;
  margin: 20px;
  outline: none;
  padding-left:  50px;
}

.inputField:hover{
  box-shadow: 0px 5px 5px #EEE;
}

.button{
  padding:8px 18px;
  background-color: #EEE;
  margin:20px;
  line-height: 27px;
  background-color: #f2f2f2;
  font-size: 18px;
  border-color: #f2f2f2;
  outline: none;
}
.button:hover{
  border-color: #c6c6c6;
}

.button.rounded{
  border-radius: 10px;
}

/*Footer Styles*/
footer{
  background-color: #EEE;
  position: absolute;
  width: 100%;
  bottom: 0;
}
.footerTop{
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: flex-start;
  border-bottom: 1px solid #e6e3e3;
}
.footerTop p{
  padding-left: 50px;
  font-size: 18px;
}
.footerBootom{
  display: flex;
  flex-direction: row;
  justify-content:space-between;
}
.footerBootom ul{
  padding-right: 40px;
}
.footerBootom ul li{
  display: inline-block;
  padding: 10px;
  font-size: 18px;
}
.footerLeftnav{
   align-items:stretch;
}
.footerRightNav{
  align-items: flex-end;
  display:flex;
}
